body{
    background-color: lightblue;
    j
}
.title{
    font-size:50px;
    text-align:center;
}
.container{
    display:grid;
    justify-content: center;
}
.container-task,.add-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 500px;
}
.container-task{
    align-items: center;
    margin-top:10px;
}
.js-inputElementTask,.js-inputElementDate{
    flex:3;
}
.add-button,.delete-task-button{
    background-color: green;
    color: white;
    border: none;
    cursor:pointer;
    padding: 10px 10px;
    font-size: 15px;
    flex: 1.5;
}
.delete-task-button{
    background-color: #873232;
    padding: 10px 9px;
}
.show-task-date,.show-task{
    flex:3;
    overflow: hidden;
}
